<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="webpage1">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
        	<img src="/public/img/photo.png" alt="photo">
            <p>
            	Hello! My name is Jundi Zhao, and I was born on the 2nd of March, 1994, in the vibrant city of Chongqing, China. Located in the western part of the country, Chongqing is renowned for its rich history, breathtaking landscapes, and spicy cuisine, all of which have significantly shaped my personality and interests.
				Growing up amidst the bustling streets and serene hills of my hometown, I developed a robust affinity for connections and activities that kept me grounded yet always moving. This perhaps elucidates my love for making friends and indulging in various sports.
				Friendship, to me, isn't just a social activity; it's a journey of understanding, learning, and growing together. I find joy in meeting new people, learning about their lives, experiences, and cultures, which in turn enriches my perspective and adds chapters to my life's book. The bonds I forge along the way become the threads that weave into my ever-expanding network of shared stories and collective experiences.
			</p>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</body>

</html>