<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="webpage1">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <h1>Let's Connect!</h1>
            <h3>
                Email: burningzhao@gmail.com
            </h3>
            <h3>
                Phone: 6479493868
            </h3>
            <p>Your insights and inquiries are invaluable to me. Use the form below to send me a message and I will get back to you at the earliest opportunity.</p >
            <form action="index.html" method="post" id="contact-form">
                <label for="fname">First Name:</label><br> <input type="text" id="fname" name="fname" required><br>
                <label for="lname">Last Name:</label><br> <input type="text" id="lname" name="lname" required><br>
                <label for="cnumber">Contact Number:</label><br> <input type="tel" id="cnumber" name="cnumber" required><br>
                <label for="email">Email Address:</label><br> <input type="email" id="email" name="email" required><br> <label for="message">Message:</label><br>
                <textarea id="message" name="message" rows="4" required></textarea><br> <input type="submit" value="Submit">
            </form>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</body>

</html>