<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="webpage1">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <h3>Hello everyone, my name is Jundi Zhao. Welcome to my homepage, here are some self-introductions and interesting stories about me. Please use the links below to be directed to the page that interests you.</h3>
            <h3>
                <a href="/about">Find more about me</a><br>
                <a href="/projects">Previous Projects</a><br>
                <a href="/services">Services we provide</a><br>
                <a href="/contact">Information for reaching out</a><br>
            </h3>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</body>

</html>