<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="webpage1">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <h1>Projects</h1>
            <p>
                I have done three projects. The first one was a self-introduction website I made when I was just studying. The second project is a website about car buying and selling. 
                This website can quickly recommend nearby car dealers and car prices by zip code. The last project is a game competition website that allows users to quickly browse the competition content and time.
            </p>
            <h2>Project 1:</h2>
            <img src="/public/img/project1.png" alt="project1">
            <p>The self-introduction website uses a simple HTML structure and shows my hobbies and some skills through links.</p>
            <h2>Project 2:</h2>
            <img src="/public/img/project2.png" alt="project2">
            <p>
                The second project is a website for buying cars. After a period of study, I mastered some ways of using CSS. My webpage is no longer as monotonous as the first project, and the content is richer. On this web page, 
                you can quickly find nearby car dealerships by searching for addresses or zip codes. At the same time, different prices for the same vehicle from different dealers can be displayed.</p>
            <h2>Project 3:</h2>
            <img src="/public/img/project3.png" alt="project3">
            <p>
                The third project is my favorite game category. Nowadays, the number of players watching games is growing rapidly, so we learned the advantages of traditional sports and improved them to create this web page. 
                This page allows everyone to see future competitions, competition prizes, participating teams, etc. If you accidentally missed the game, you can also find a link to the recording.
            </p>

        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</body>

</html>