<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="webpage1">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <h1>Services</h1>
            <p>Jundi Zhao's Development Services
                Welcome to My Services Page!
                Here, you'll find a selection of specialized services I offer. With a robust blend of technical expertise and creative problem-solving, I'm here to help you navigate your digital journey.
                1. General Programming
                "Turning your ideas into code..."
                I offer general programming services to create efficient and effective solutions tailored to your needs. Whether it's developing algorithms, debugging, or designing systems, my programming expertise spans various languages and frameworks to ensure your projects are brought to life seamlessly.
                [Image: Perhaps a visually appealing image representing code/programming]
                2. Web Development
                "Crafting digital experiences one pixel at a time..."
                From responsive landing pages to comprehensive e-commerce platforms, I provide a range of web development services that ensure your online presence is both aesthetically pleasing and functionally robust. My web development services encompass both front-end and back-end development, always ensuring a responsive, user-friendly experience.
                [Image: A sleek and modern website UI/UX design or a visual representing web development]
                3. Mobile App Development
                "Putting the power of technology in the palm of your hands..."
                Navigate the mobile-first world with tailor-made mobile applications designed to enhance user engagement and ensure a tangible impact. Specializing in developing apps for both Android and iOS, my services ensure your digital solutions are accessible to a wide audience right at their fingertips.
                [Image: Screenshots of a vibrant and user-friendly mobile app interface]
                4. UI/UX Design
                "Designing with the user in mind..."
                A blend of creativity and user-centered design principles guides my approach to UI/UX design. I focus on creating designs that are not only visually appealing but also provide an intuitive and seamless user experience, ensuring your digital platforms are both beautiful and practical.
                [Image: A stylish and modern UI/UX design blueprint or interactive design</p>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</body>

</html>