<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="webpage1">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <h1>Jundi Zhao's Development Services</h1>
            <p>
                Welcome to My Services Page!
                Here, you'll find a selection of specialized services I offer. With a robust blend of technical expertise and creative problem-solving, I'm here to help you navigate your digital journey.
            </p>
            <h2>1. General Programming</h2>
            <p>
                "Turning your ideas into code..."
                I offer general programming services to create efficient and effective solutions tailored to your needs. Whether it's developing algorithms, debugging, or designing systems, my programming expertise spans various languages and frameworks to ensure your projects are brought to life seamlessly.
            </p>
            <img src="/public/img/serv1.png" alt="service 1">
                
            <h2>2. Web Development</h2>
            <p>
                "Crafting digital experiences one pixel at a time..."
                From responsive landing pages to comprehensive e-commerce platforms, I provide a range of web development services that ensure your online presence is both aesthetically pleasing and functionally robust. My web development services encompass both front-end and back-end development, always ensuring a responsive, user-friendly experience.
            </p>
            <img src="/public/img/serv2.png" alt="service 2">
            
            <h2>3. Mobile App Development</h2>
            <p>
                "Putting the power of technology in the palm of your hands..."
                Navigate the mobile-first world with tailor-made mobile applications designed to enhance user engagement and ensure a tangible impact. Specializing in developing apps for both Android and iOS, my services ensure your digital solutions are accessible to a wide audience right at their fingertips.
            </p>
            <img src="/public/img/serv3.png" alt="service 3">
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</body>

</html>